[submodule "firmware/pulp_platform/axi"]
	path = firmware/pulp_platform/axi
	url = https://github.com/pulp-platform/axi.git
[submodule "firmware/pulp_platform/common_verification"]
	path = firmware/pulp_platform/common_verification
	url = https://github.com/pulp-platform/common_verification.git
